FORMAT: 1A
HOST: http://www.a-box.cz

# Sbox (generovaná dokumentace - public)
SIM sales support service  
Tue May  5 00:39:59 CEST 2015
  

# Group Order

## /v1/order/list

### POST
Seznam objednávek

+ Request (application/json)

        {
            "token": "abcd1234",
            "listingRequest": {
                "orderBy": [
                    {
                        "column": "id",
                        "direction": "desc"
                    },
                    {
                        "column": "fcn",
                        "direction": "asc"
                    }
                ],
                "subset": {
                    "offset": 0,
                    "count": 6
                },
                "filter": [
                    {
                        "column": "state",
                        "condition": "equal",
                        "value": "credit check ok"
                    },
                    {
                        "column": "created",
                        "condition": "contains",
                        "value": "2015"
                    },
                    {
                        "column": "modified",
                        "condition": "greaterOrEqual",
                        "value": "2014-08-23"
                    }
                ]
            }
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderList": [
                    {
                        "id": 33,
                        "pcn": "55157386",
                        "fcn": "40144078",
                        "type": "Nová",
                        "state": "credit check ok",
                        "loyality": "332211",
                        "companyName": "Tukcat, s.r.o.",
                        "name": "Relm Gexuico",
                        "companyRegistrationNumber": "26204673",
                        "idNumber": "8430212121",
                        "delivery": 0,
                        "msisdn": "779624666",
                        "ported": 0,
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "createdUser": null,
                        "modifiedUser": null
                    },
                    {
                        "id": 33,
                        "pcn": "37304239",
                        "fcn": "40144078",
                        "type": "Nová",
                        "state": "credit check ok",
                        "loyality": "332211",
                        "companyName": "Tukcat, s.r.o.",
                        "name": "Relm Gexuico",
                        "companyRegistrationNumber": "26204673",
                        "idNumber": "8430212121",
                        "delivery": 0,
                        "msisdn": "656701859",
                        "ported": 1,
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "createdUser": null,
                        "modifiedUser": null
                    },
                    {
                        "id": 32,
                        "pcn": "48597344",
                        "fcn": "12118425",
                        "type": "Nová",
                        "state": "credit check ok",
                        "loyality": "332211",
                        "companyName": "Setfefl, s.r.o.",
                        "name": "Naki Cujbuk",
                        "companyRegistrationNumber": "26204665",
                        "idNumber": "6701230415",
                        "delivery": 0,
                        "msisdn": "680640674",
                        "ported": 0,
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "createdUser": null,
                        "modifiedUser": null
                    },
                    {
                        "id": 32,
                        "pcn": "10029232",
                        "fcn": "12118425",
                        "type": "Nová",
                        "state": "credit check ok",
                        "loyality": "332211",
                        "companyName": "Setfefl, s.r.o.",
                        "name": "Naki Cujbuk",
                        "companyRegistrationNumber": "26204665",
                        "idNumber": "6701230415",
                        "delivery": 0,
                        "msisdn": "785565155",
                        "ported": 1,
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "createdUser": null,
                        "modifiedUser": null
                    },
                    {
                        "id": 31,
                        "pcn": "45513031",
                        "fcn": "27555777",
                        "type": "Nová",
                        "state": "credit check ok",
                        "loyality": "332211",
                        "companyName": null,
                        "name": "Viy Tipsytt",
                        "companyRegistrationNumber": null,
                        "idNumber": "6701230404",
                        "delivery": 0,
                        "msisdn": "724469383",
                        "ported": 0,
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "createdUser": null,
                        "modifiedUser": null
                    },
                    {
                        "id": 31,
                        "pcn": "63427811",
                        "fcn": "27555777",
                        "type": "Nová",
                        "state": "credit check ok",
                        "loyality": "332211",
                        "companyName": null,
                        "name": "Viy Tipsytt",
                        "companyRegistrationNumber": null,
                        "idNumber": "6701230404",
                        "delivery": 0,
                        "msisdn": "719753198",
                        "ported": 1,
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "createdUser": null,
                        "modifiedUser": null
                    }
                ],
                "listingResponse": {
                    "count": 10
                }
            }
        }

## /v1/order/item/create

### POST
Založení prázdné objednávky.

+ Request (application/json)

        {
            "token": "abcd1234"
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderId": 27
            }
        }

## /v1/order/item/detail

### POST
Získání existující objednávky.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 28
        }

+ Response 200 (application/json)

        {
            "result": {
                "order": {
                    "id": 28,
                    "type": "NEW",
                    "subtype": null,
                    "state": "input",
                    "stateMessage": "",
                    "poPo": null,
                    "deposit": 0,
                    "customer": {
                        "fcn": null,
                        "type": "FO",
                        "solus": 0,
                        "positiveSolus": 0,
                        "isPoliticallyExposed": 0,
                        "created": null,
                        "contact": {
                            "companyRegistrationNumber": null,
                            "companyTaxNumber": null,
                            "birthDate": null,
                            "birthNumber": null,
                            "companyName": null,
                            "email": null,
                            "firstName": null,
                            "lastName": null,
                            "lastName5": null,
                            "salutation": null,
                            "nationality": "CZ",
                            "note": null,
                            "phone": null,
                            "title": 0,
                            "titleAfter": 0,
                            "passportNumber": null,
                            "password": null,
                            "loyality": null,
                            "discount": 1,
                            "contactState": null,
                            "contactAdapterModified": null,
                            "companyState": null,
                            "companyAdapterModified": null,
                            "billingArrangement": {
                                "paymentMethod": -2,
                                "invoiceType": "P",
                                "delivery": 0,
                                "account": null,
                                "bankCode": null,
                                "state": null,
                                "adapterModified": null,
                                "address": {
                                    "street": null,
                                    "streetNumberBlue": null,
                                    "streetNumberRed": null,
                                    "zip": null,
                                    "region": null,
                                    "city": null,
                                    "uirId": null
                                },
                                "subscriberList": [
                                    {
                                        "id": 44,
                                        "state": null,
                                        "adapterModified": null,
                                        "product": null,
                                        "msisdn": {
                                            "msisdn": ""
                                        },
                                        "iccid": null,
                                        "pcn": null,
                                        "ported": 0,
                                        "cvop": null,
                                        "master": 1,
                                        "jts": 0,
                                        "mkt1": 0,
                                        "mkt2": 1,
                                        "mkt3": 1,
                                        "created": null,
                                        "modified": "2015-05-04",
                                        "termination": null,
                                        "provisioningDate": null,
                                        "suspendDate": null,
                                        "signDate": null,
                                        "deactivateDate": null,
                                        "substateLost": "0",
                                        "substateFraud": "0",
                                        "substateChangeIccid": "0",
                                        "substateLeguan": "0",
                                        "substateSuspend": "0",
                                        "substateTerminate": "0",
                                        "substateRelease": "0",
                                        "deposit": 0,
                                        "creditCheckResult": "",
                                        "hasSP": 0,
                                        "hasDeposit": 0
                                    }
                                ]
                            },
                            "address": {
                                "street": null,
                                "streetNumberBlue": null,
                                "streetNumberRed": null,
                                "zip": null,
                                "region": null,
                                "city": null,
                                "uirId": null
                            },
                            "companyAddress": {
                                "street": null,
                                "streetNumberBlue": null,
                                "streetNumberRed": null,
                                "zip": null,
                                "region": null,
                                "city": null,
                                "uirId": null
                            },
                            "documentList": [
                                {
                                    "id": 68,
                                    "documentType": null,
                                    "documentNumber": null,
                                    "documentValidTo": null
                                }
                            ]
                        },
                        "state": "input",
                        "adapterModified": null
                    },
                    "createdUser": {
                        "username": "james",
                        "roles": [
                            "super_admin"
                        ],
                        "domain": "tmcz",
                        "firstName": "James",
                        "lastName": "Bond",
                        "deleted": 0
                    },
                    "created": [
                        "2015-05-04 00:00:00",
                        3,
                        "Europe\/Prague"
                    ],
                    "ceaseDate": null,
                    "modifiedUser": {
                        "username": "james",
                        "roles": [
                            "super_admin"
                        ],
                        "domain": "tmcz",
                        "firstName": "James",
                        "lastName": "Bond",
                        "deleted": 0
                    },
                    "signDate": null
                },
                "locked": {
                    "state": true,
                    "stateMessage": true,
                    "deposit": true,
                    "orderFormId": true,
                    "created": true,
                    "customer": {
                        "fcn": true,
                        "created": true,
                        "contact": {
                            "billingArrangement": {
                                "address": {
                                    "uirId": true,
                                    "region": true
                                },
                                "subscriberList": [
                                    {
                                        "state": true,
                                        "pcn": true,
                                        "deposit": true,
                                        "creditCheckResult": true,
                                        "hasSP": true,
                                        "hasDeposit": true
                                    }
                                ]
                            },
                            "address": {
                                "uirId": true,
                                "region": true
                            },
                            "companyAddress": {
                                "uirId": true,
                                "region": true
                            }
                        }
                    }
                },
                "activityList": [
                    {
                        "id": 217,
                        "type": "pcn-retrieve",
                        "params": {
                            "subscriberId": 44
                        }
                    },
                    {
                        "id": 218,
                        "type": "fcn-retrieve",
                        "params": {
                            "orderId": 28
                        }
                    }
                ],
                "actionList": [
        
                ]
            }
        }

## /v1/order/item/edit

### POST
Editace existující objednávky.

+ Request (application/json)

        {
            "token": "abcd1234",
            "order": {
                "id": 29,
                "subtype": null,
                "poPo": null,
                "customer": {
                    "type": "FO",
                    "solus": 0,
                    "positiveSolus": 0,
                    "isPoliticallyExposed": 0,
                    "contact": {
                        "companyRegistrationNumber": null,
                        "companyTaxNumber": null,
                        "birthDate": null,
                        "birthNumber": null,
                        "companyName": null,
                        "email": null,
                        "firstName": null,
                        "lastName": null,
                        "lastName5": null,
                        "salutation": null,
                        "nationality": "CZ",
                        "note": null,
                        "phone": null,
                        "title": 0,
                        "titleAfter": 0,
                        "passportNumber": null,
                        "password": null,
                        "loyality": null,
                        "discount": 1,
                        "contactState": null,
                        "contactAdapterModified": null,
                        "companyState": null,
                        "companyAdapterModified": null,
                        "billingArrangement": {
                            "paymentMethod": -2,
                            "invoiceType": "P",
                            "delivery": 0,
                            "account": null,
                            "bankCode": null,
                            "state": null,
                            "adapterModified": null,
                            "subscriberList": [
                                {
                                    "id": 45,
                                    "adapterModified": null,
                                    "product": null,
                                    "ported": 0,
                                    "cvop": null,
                                    "master": 1,
                                    "jts": 0,
                                    "mkt1": 0,
                                    "mkt2": 1,
                                    "mkt3": 1,
                                    "provisioningDate": null,
                                    "suspendDate": null,
                                    "signDate": null,
                                    "deactivateDate": null,
                                    "substateLost": "0",
                                    "substateFraud": "0",
                                    "substateChangeIccid": "0",
                                    "substateLeguan": "0",
                                    "substateSuspend": "0",
                                    "substateTerminate": "0",
                                    "substateRelease": "0",
                                    "deposit": 0,
                                    "creditCheckResult": "",
                                    "hasSP": 0,
                                    "hasDeposit": 0
                                }
                            ]
                        },
                        "documentList": [
                            {
                                "documentType": null,
                                "documentNumber": null,
                                "documentValidTo": null
                            }
                        ]
                    },
                    "state": "input",
                    "adapterModified": null
                },
                "ceaseDate": null,
                "signDate": null
            }
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/order/item/edit?errors

### POST
Editace existující objednávky - chyba na vstupu.

+ Request (application/json)

        {
            "token": "abcd1234",
            "order": {
                "id": 29,
                "subtype": null,
                "poPo": null,
                "customer": {
                    "type": "FO",
                    "solus": 0,
                    "positiveSolus": 0,
                    "isPoliticallyExposed": 0,
                    "contact": {
                        "companyRegistrationNumber": null,
                        "companyTaxNumber": null,
                        "birthDate": null,
                        "birthNumber": "NEPLATNE",
                        "companyName": null,
                        "email": null,
                        "firstName": null,
                        "lastName": null,
                        "lastName5": null,
                        "salutation": null,
                        "nationality": "CZ",
                        "note": null,
                        "phone": null,
                        "title": 0,
                        "titleAfter": 0,
                        "passportNumber": null,
                        "password": null,
                        "loyality": null,
                        "discount": 1,
                        "contactState": null,
                        "contactAdapterModified": null,
                        "companyState": null,
                        "companyAdapterModified": null,
                        "billingArrangement": {
                            "paymentMethod": -2,
                            "invoiceType": "P",
                            "delivery": 0,
                            "account": null,
                            "bankCode": null,
                            "state": null,
                            "adapterModified": null,
                            "subscriberList": [
                                {
                                    "id": 45,
                                    "adapterModified": null,
                                    "product": null,
                                    "ported": 0,
                                    "cvop": null,
                                    "master": 1,
                                    "jts": 0,
                                    "mkt1": 0,
                                    "mkt2": 1,
                                    "mkt3": 1,
                                    "provisioningDate": null,
                                    "suspendDate": null,
                                    "signDate": null,
                                    "deactivateDate": null,
                                    "substateLost": "0",
                                    "substateFraud": "0",
                                    "substateChangeIccid": "0",
                                    "substateLeguan": "0",
                                    "substateSuspend": "0",
                                    "substateTerminate": "0",
                                    "substateRelease": "0",
                                    "deposit": 0,
                                    "creditCheckResult": "",
                                    "hasSP": 0,
                                    "hasDeposit": 0
                                }
                            ]
                        },
                        "documentList": [
                            {
                                "documentType": null,
                                "documentNumber": null,
                                "documentValidTo": null
                            }
                        ]
                    },
                    "state": "input",
                    "adapterModified": null
                },
                "ceaseDate": null,
                "signDate": null
            }
        }

+ Response 200 (application/json)

        {
            "errors": {
                "customer": {
                    "contact": {
                        "birthNumber": "Rodné číslo musí obsahovat pouze 9-10 číslic."
                    }
                }
            }
        }

## /v1/order/item/requirements

### POST
Získání povinných údajů.

+ Request (application/json)

        {
            "token": "abcd1234",
            "type": "FO"
        }

+ Response 200 (application/json)

        {
            "result": {
                "customer": {
                    "fcn": true,
                    "type": true,
                    "contact": {
                        "birthNumber": true,
                        "firstName": true,
                        "lastName": true,
                        "salutation": true,
                        "nationality": true,
                        "password": true,
                        "loyality": true,
                        "billingArrangement": {
                            "paymentMethod": true,
                            "invoiceType": true,
                            "address": {
                                "street": true,
                                "zip": true,
                                "city": true,
                                "uirId": true
                            },
                            "subscriberList": [
                                {
                                    "product": true,
                                    "msisdn": {
                                        "msisdn": true
                                    },
                                    "iccid": true,
                                    "pcn": true
                                }
                            ]
                        },
                        "address": {
                            "street": true,
                            "zip": true,
                            "city": true,
                            "uirId": true
                        },
                        "companyAddress": {
                            "street": true,
                            "zip": true,
                            "city": true,
                            "uirId": true
                        },
                        "documentList": [
                            {
                                "documentType": true,
                                "documentNumber": true,
                                "documentValidTo": true
                            }
                        ]
                    }
                }
            }
        }

# Group Duplicita zákazníka

Otestuje, zda už v systému existuje zákazník se zadanými údaji. Údaje před ověřením validuje. Klíče neodpovídající typu jsou nepovinné.

## /v1/order/item/is-customer-active

### POST
Nový zákazník.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 22,
            "type": "PO",
            "companyRegistrationNumber": null,
            "companyTaxNumber": null,
            "birthNumber": null,
            "documentList": [
                {
                    "id": 638,
                    "documentType": 1,
                    "documentNumber": null,
                    "documentValidTo": null
                }
            ]
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/order/item/is-customer-active?order

### POST
Zákazník už má objednávku.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 23,
            "type": "PO",
            "companyRegistrationNumber": "26204622",
            "companyTaxNumber": null,
            "birthNumber": null,
            "documentList": [
                {
                    "id": 638,
                    "documentType": 1,
                    "documentNumber": null,
                    "documentValidTo": null
                }
            ]
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Zadaný zákazník již je evidován.",
                "data": {
                    "field": "companyRegistrationNumber",
                    "id": null,
                    "orderId": 22
                }
            }
        }

## /v1/order/item/is-customer-active?service

### POST
Zákazník už existuje.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 24,
            "type": "PO",
            "companyRegistrationNumber": "26204631",
            "companyTaxNumber": null,
            "birthNumber": null,
            "documentList": [
                {
                    "id": 638,
                    "documentType": 1,
                    "documentNumber": null,
                    "documentValidTo": null
                }
            ]
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Zadaný zákazník již je evidován.",
                "data": {
                    "field": "companyRegistrationNumber",
                    "id": null,
                    "serviceId": 9
                }
            }
        }

# Group Adresy

Možné výsledky jsou tři, odpověď bude mít různý obsah:  
 - OK - id, původní billingAddress, modified = původní billingAddress doplněná o region a uidId  
 - KO - id, původní billingAddress a pole chyb errors  
 - MODIFIED - id, původní billingAddress, modified (jako v OK) a pole errors s popisem změn


## /v1/address/validate

### POST
Přiřadí do objednávky zaslanou fakturační adresu a doplní region a uirId.

+ Request (application/json)

        {
            "token": "abcd1234",
            "orderId": 1,
            "type": "billing",
            "address": {
                "city": "Litomyšl",
                "street": "8. května",
                "streetNumberBlue": "4",
                "streetNumberRed": "820",
                "zip": "75001"
            }
        }

+ Response 200 (application/json)

        {
            "result": {
                "address": {
                    "city": "Litomyšl",
                    "street": "8. května",
                    "streetNumberBlue": "4",
                    "streetNumberRed": "820",
                    "zip": "75001"
                },
                "modified": {
                    "street": "8. května",
                    "streetNumberBlue": "4",
                    "streetNumberRed": "820",
                    "zip": "57001",
                    "region": "Pardubický",
                    "city": "Litomyšl",
                    "uirId": "7425617"
                }
            }
        }

## /v1/address/validate?modified

### POST
Validace bez korekce adresy - pravděpodobně nenastává.

+ Request (application/json)

        {
            "token": "abcd1234",
            "orderId": 1,
            "type": "contact",
            "address": {
                "city": "Litomyšl",
                "street": "8.května",
                "streetNumberBlue": "",
                "streetNumberRed": "",
                "zip": "75001"
            }
        }

+ Response 200 (application/json)

        {
            "result": {
                "address": {
                    "city": "Litomyšl",
                    "street": "8.května",
                    "streetNumberBlue": "",
                    "streetNumberRed": "",
                    "zip": "75001"
                },
                "modified": {
                    "street": "8. května",
                    "streetNumberBlue": "4",
                    "streetNumberRed": "820",
                    "zip": "57001",
                    "region": "Litomyšl - Zahájí",
                    "city": "Litomyšl",
                    "uirId": "2425617"
                }
            },
            "errors": {
                "message": "Adresa byla pozměněna."
            }
        }

## /v1/address/validate?errors

### POST
Validace adresy s chybou.

+ Request (application/json)

        {
            "token": "abcd1234",
            "orderId": 1,
            "type": "contact",
            "address": {
                "city": "Litomyšl",
                "street": null,
                "streetNumberBlue": "",
                "streetNumberRed": "820",
                "zip": "NEPLATNE"
            }
        }

+ Response 200 (application/json)

        {
            "result": {
                "address": {
                    "city": "Litomyšl",
                    "street": null,
                    "streetNumberBlue": "",
                    "streetNumberRed": "820",
                    "zip": "NEPLATNE"
                }
            },
            "errors": {
                "address": {
                    "zip": "Platné PSČ musí obsahovat právě 5 číslic."
                }
            }
        }

## /v1/address/reset

### POST
Vyresetování přiřazené adresy.

+ Request (application/json)

        {
            "token": "abcd1234",
            "type": "billing",
            "orderId": 1
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/address/reset?errors

### POST
Vyresetování přiřazené adresy - neúspěch.

+ Request (application/json)

        {
            "token": "abcd1234",
            "type": "non-type",
            "orderId": 1
        }

+ Response 200 (application/json)

        {
            "errors": {
                "type": "Neznámý typ adresy: non-type"
            }
        }

# Group MSISDN

## /v1/msisdn/options

### POST
Nabídka telefonních čísel - nastartování akce

+ Request (application/json)

        {
            "token": "abcd1234"
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "created",
                "activityId": 171
            },
            "result": {
        
            }
        }

## /v1/msisdn/options?polling

### POST
Nabídka telefonních čísel - probíhající polling

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 171
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "polling",
                "activityId": 171
            },
            "result": {
        
            }
        }

## /v1/msisdn/options?success

### POST
Nabídka telefonních čísel - úspěšný polling

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 171
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "done",
                "activityId": 171
            },
            "result": {
                "msisdns": [
                    "797005005",
                    "797005015",
                    "797005025",
                    "797005005",
                    "797005015",
                    "797005025"
                ]
            }
        }

## /v1/msisdn/options?errors

### POST
Nabídka telefonních čísel - neúspěšný polling

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 171
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "failed",
                "activityId": 171
            },
            "result": {
                "message": "Order subscriber id '549' already has locking in progress '1816'.",
                "code": "LOCKING_IN_PROCESS"
            }
        }

## /v1/msisdn/lock

### POST
Uzamknutí vybraného msisdn - nastartování akce.

+ Request (application/json)

        {
            "token": "abcd1234",
            "subscriberId": 26,
            "msisdn": "797005015"
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "created",
                "activityId": 170
            },
            "result": {
        
            }
        }

## /v1/msisdn/lock?polling

### POST
Uzamknutí vybraného msisdn - probíhající polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 170
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "polling",
                "activityId": 170
            },
            "result": {
        
            }
        }

## /v1/msisdn/lock?success

### POST
Uzamknutí vybraného msisdn - úspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 170
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "done",
                "activityId": 170
            },
            "result": {
        
            }
        }

## /v1/msisdn/lock?errors

### POST
Uzamknutí vybraného msisdn - neúspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 170
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "failed",
                "activityId": 170
            },
            "errors": {
                "message": "Popis chyby."
            }
        }

## /v1/msisdn/port-in

### POST
Vložení portovaného čísla - nastartování akce.

+ Request (application/json)

        {
            "token": "abcd1234",
            "subscriberId": 27,
            "msisdn": "666777888"
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "created",
                "activityId": 174
            },
            "result": {
        
            }
        }

## /v1/msisdn/port-in?polling

### POST
Vložení portovaného čísla - probíhající polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 174
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "polling",
                "activityId": 174
            },
            "result": {
        
            }
        }

## /v1/msisdn/port-in?success

### POST
Vložení portovaného čísla - úspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 174
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "done",
                "activityId": 174
            },
            "result": {
        
            }
        }

## /v1/msisdn/port-in?errors

### POST
Vložení portovaného čísla - neúspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 174
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "failed",
                "activityId": 174
            },
            "errors": {
                "message": "Popis chyby."
            }
        }

# Group Datum portace

## /v1/port-in-date/list

### POST
Seznam datumů pro portaci.

+ Request (application/json)

        {
            "token": "abcd1234",
            "msisdn": "666777888",
            "cvop": "20409200167347",
            "delivery": 0
        }

+ Response 200 (application/json)

        {
            "result": {
                "allowedDateList": [
                    "2015-05-22",
                    "2018-07-28",
                    "2018-07-29",
                    "2018-07-30",
                    "2018-07-31",
                    "2018-08-01"
                ]
            }
        }

## /v1/port-in-date/change

### POST
Změna datumu pro portaci - nastartování akce.

+ Request (application/json)

        {
            "token": "abcd1234",
            "subscriberId": 54,
            "wishDate": "2015-05-22"
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "created",
                "activityId": 225
            },
            "result": {
        
            }
        }

## /v1/port-in-date/change?polling

### POST
Změna datumu pro portaci - probíhající polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 225
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "polling",
                "activityId": 225
            },
            "result": {
        
            }
        }

## /v1/port-in-date/change?success

### POST
Změna datumu pro portaci - úspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 225
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "done",
                "activityId": 225
            },
            "result": {
        
            }
        }

## /v1/port-in-date/change?errors

### POST
Změna datumu pro portaci - neúspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 226
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "created",
                "activityId": 226
            },
            "result": {
        
            }
        }

# Group ICCID

## /v1/iccid/lock

### POST
Uzamknutí vybrané simky - nastartování akce.

+ Request (application/json)

        {
            "token": "abcd1234",
            "subscriberId": 25,
            "iccid": "6867696061686769606"
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "created",
                "activityId": 167
            },
            "result": {
        
            }
        }

## /v1/iccid/lock?polling

### POST
Uzamknutí vybrané simky - probíhající polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 167
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "polling",
                "activityId": 167
            },
            "result": {
        
            }
        }

## /v1/iccid/lock?success

### POST
Uzamknutí vybrané simky - úspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 167
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "done",
                "activityId": 167
            },
            "result": {
        
            }
        }

## /v1/iccid/lock?errors

### POST
Uzamknutí vybrané simky - neúspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 167
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "failed",
                "activityId": 167
            },
            "errors": {
                "message": "Popis chyby."
            }
        }

# Group Credit check

## /v1/order/action/credit-check

### POST
Úspěšný credit check existující objednávky.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 20
        }

+ Response 200 (application/json)

        {
            "result": {
                "message": "credit check ok"
            }
        }

## /v1/order/action/credit-check?deposit

### POST
Credit check existující objednávky - se zálohou.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 20
        }

+ Response 200 (application/json)

        {
            "result": {
                "message": "credit check fail deposit"
            }
        }

## /v1/order/action/credit-check?denied

### POST
Credit check existující objednávky - zamítnutá.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 20
        }

+ Response 200 (application/json)

        {
            "result": {
                "message": "credit check fail denied"
            }
        }

## /v1/order/action/credit-check?errors

### POST
Credit check existující objednávky - neúspěšný pokus.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 20
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Objednávka není ve stavu pro credit check."
            }
        }

## /v1/order/action/credit-check-reset

### POST
Návrat do stavu input.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 20
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/order/action/credit-check-reset?errors

### POST
Neúspěšný návrat do stavu input.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 20
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Objednávka není ve stavu pro reset credit checku."
            }
        }

## /v1/order/action/credit-check-override

### POST
Posune objednávku do stavu Credit check override deposit nebo Credit check override vip.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 19,
            "type": "deposit"
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/order/action/credit-check-override?errors

### POST
Neúspěšný credit check override.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 19,
            "type": "vip"
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Objednávka není ve stavu pro credit check override."
            }
        }

# Group Contract

## /v1/order/action/print

### POST
Převedení objednávky do stavu CONTRACT.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 25
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/order/action/print?errors

### POST
Neúspěšný tisk smlouvy.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 25
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Objednávka není ve stavu pro tisk smlouvy."
            }
        }

## /v1/order/contract/detail

### POST
Získání PDFka se smlouvou.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 25
        }

+ Response 200 (application/pdf)

        Binary data.

## /v1/order/action/print-reset

### POST
Návrat do stavu před tisk.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 25
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/order/action/print-reset?errors

### POST
Neúspěšný návrat do stavu před tisk.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 25
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Objednávka není ve stavu pro návrat před tisk."
            }
        }

## /v1/order/action/sign

### POST
Převedení objednávky do stavu CONTRACT SIGNED.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 26
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/order/action/sign?errors

### POST
Neúspěšné podepsání smlouvy.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 26
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Objednávka není ve stavu pro podpis."
            }
        }

# Group Cancel

## /v1/order/action/cancel

### POST
Převedení objednávky do stavu CANCEL.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 18
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

## /v1/order/action/cancel?errors

### POST
Neúspěšné převedení objednávky do stavu CANCEL.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 18
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Objednávka není ve stavu pro storno."
            }
        }

# Group Customer

## /v1/customer/list

### POST
Seznam zákazníků

+ Request (application/json)

        {
            "token": "abcd1234",
            "listingRequest": {
                "orderBy": [
                    {
                        "column": "created",
                        "direction": "desc"
                    },
                    {
                        "column": "fcn",
                        "direction": "asc"
                    }
                ],
                "subset": {
                    "offset": 0,
                    "count": 3
                },
                "filter": [
                    {
                        "column": "state",
                        "condition": "equal",
                        "value": "active"
                    },
                    {
                        "column": "created",
                        "condition": "greaterOrEqual",
                        "value": "2014-08-23"
                    }
                ]
            }
        }

+ Response 200 (application/json)

        {
            "result": {
                "customerList": [
                    {
                        "id": 1,
                        "fcn": "47251575",
                        "loyality": "332211",
                        "type": "FO",
                        "companyName": null,
                        "firstName": "Aasg",
                        "lastName": "Fondcodji",
                        "companyRegistrationNumber": null,
                        "companyTaxNumber": null,
                        "idNumber": "6701230206",
                        "created": "2015-05-04",
                        "state": "active",
                        "discount": 1
                    },
                    {
                        "id": 7,
                        "fcn": "57323946",
                        "loyality": "332211",
                        "type": "FO",
                        "companyName": null,
                        "firstName": "Bezw",
                        "lastName": "Banraticp",
                        "companyRegistrationNumber": null,
                        "companyTaxNumber": null,
                        "idNumber": "6701230272",
                        "created": "2015-05-04",
                        "state": "active",
                        "discount": 0
                    },
                    {
                        "id": 2,
                        "fcn": "71903852",
                        "loyality": "332211",
                        "type": "FO",
                        "companyName": null,
                        "firstName": "Bav",
                        "lastName": "Dizasukc",
                        "companyRegistrationNumber": null,
                        "companyTaxNumber": null,
                        "idNumber": "6701230217",
                        "created": "2015-05-04",
                        "state": "active",
                        "discount": 1
                    }
                ],
                "listingResponse": {
                    "count": 6
                }
            }
        }

## /v1/customer/item/detail

### POST
Detail existujícího zákazníka.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 8
        }

+ Response 200 (application/json)

        {
            "result": {
                "customer": {
                    "id": 8,
                    "fcn": "80195550",
                    "type": "FO",
                    "solus": 1,
                    "positiveSolus": 1,
                    "isPoliticallyExposed": 0,
                    "created": "2015-05-04",
                    "contact": {
                        "companyRegistrationNumber": null,
                        "companyTaxNumber": null,
                        "birthDate": "1967-01-23",
                        "birthNumber": "6701230283",
                        "companyName": null,
                        "email": null,
                        "firstName": "Jekw",
                        "lastName": "Bubtvof",
                        "lastName5": "Testere",
                        "salutation": 2,
                        "nationality": "CZ",
                        "note": "Automatický test: DocCustomerItemDetailTest, on: 04.05.2015 23:55:27",
                        "phone": "668567777",
                        "title": 1,
                        "titleAfter": 2,
                        "passportNumber": "12345679",
                        "password": "1223",
                        "loyality": "332211",
                        "discount": 1,
                        "contactState": "active",
                        "contactAdapterModified": "2015-05-04 23:55:36",
                        "companyState": "waiting",
                        "companyAdapterModified": "2015-05-04 23:55:28",
                        "billingArrangement": {
                            "paymentMethod": -2,
                            "invoiceType": "P",
                            "delivery": 0,
                            "account": "111 50",
                            "bankCode": "0100",
                            "state": "active",
                            "adapterModified": "2015-05-04 23:55:37",
                            "address": {
                                "street": "8. května",
                                "streetNumberBlue": "820",
                                "streetNumberRed": "4",
                                "zip": "57001",
                                "region": "Pardubický",
                                "city": "Litomyšl",
                                "uirId": "12324"
                            },
                            "subscriberList": [
                                {
                                    "id": 15,
                                    "state": "active",
                                    "adapterModified": "2015-05-04 23:55:51",
                                    "product": "V2",
                                    "msisdn": {
                                        "msisdn": "654046462"
                                    },
                                    "iccid": "8972051452845334528",
                                    "pcn": "31771020",
                                    "ported": 0,
                                    "cvop": null,
                                    "master": 0,
                                    "jts": 0,
                                    "mkt1": 0,
                                    "mkt2": 1,
                                    "mkt3": 1,
                                    "created": "2015-05-04",
                                    "modified": "2015-05-04",
                                    "termination": null,
                                    "provisioningDate": null,
                                    "suspendDate": null,
                                    "signDate": "2015-05-04",
                                    "deactivateDate": null,
                                    "substateLost": "0",
                                    "substateFraud": "0",
                                    "substateChangeIccid": "0",
                                    "substateLeguan": "0",
                                    "substateSuspend": "0",
                                    "substateTerminate": "0",
                                    "substateRelease": "0",
                                    "deposit": 0,
                                    "creditCheckResult": "",
                                    "hasSP": 0,
                                    "hasDeposit": 0,
                                    "actionList": [
                                        "\/v1\/service\/action\/create-change-sim-order",
                                        "\/v1\/service\/action\/create-block-order#Z",
                                        "\/v1\/service\/action\/create-block-order#F",
                                        "\/v1\/customer\/action\/create-cease-order",
                                        "\/v1\/customer\/action\/create-withdrawal-order",
                                        "\/v1\/customer\/action\/create-status-order"
                                    ]
                                },
                                {
                                    "id": 16,
                                    "state": "provisioning",
                                    "adapterModified": "2015-05-04 23:55:36",
                                    "product": "V3",
                                    "msisdn": {
                                        "msisdn": "712615762"
                                    },
                                    "iccid": "7551875125616788480",
                                    "pcn": "68593938",
                                    "ported": 1,
                                    "cvop": "65065145231783",
                                    "master": 1,
                                    "jts": 0,
                                    "mkt1": 0,
                                    "mkt2": 1,
                                    "mkt3": 1,
                                    "created": null,
                                    "modified": "2015-05-04",
                                    "termination": null,
                                    "provisioningDate": "2015-05-04",
                                    "suspendDate": null,
                                    "signDate": "2015-05-04",
                                    "deactivateDate": null,
                                    "substateLost": "0",
                                    "substateFraud": "0",
                                    "substateChangeIccid": "0",
                                    "substateLeguan": "0",
                                    "substateSuspend": "0",
                                    "substateTerminate": "0",
                                    "substateRelease": "0",
                                    "deposit": 0,
                                    "creditCheckResult": "",
                                    "hasSP": 0,
                                    "hasDeposit": 0,
                                    "actionList": [
        
                                    ]
                                }
                            ]
                        },
                        "address": {
                            "street": "8. května",
                            "streetNumberBlue": "820",
                            "streetNumberRed": "4",
                            "zip": "57001",
                            "region": "Pardubický",
                            "city": "Litomyšl",
                            "uirId": "12324"
                        },
                        "companyAddress": {
                            "street": null,
                            "streetNumberBlue": null,
                            "streetNumberRed": null,
                            "zip": null,
                            "region": null,
                            "city": null,
                            "uirId": null
                        },
                        "documentList": [
                            {
                                "id": 15,
                                "documentType": 16,
                                "documentNumber": "12345679",
                                "documentValidTo": "2077-07-07"
                            },
                            {
                                "id": 16,
                                "documentType": 2,
                                "documentNumber": "8430212120",
                                "documentValidTo": "2088-08-08"
                            }
                        ]
                    },
                    "state": "active",
                    "adapterModified": "2015-05-04 23:55:30"
                },
                "activityList": [
        
                ],
                "actionList": [
                    "\/v1\/customer\/action\/create-termination-order",
                    "\/v1\/customer\/action\/create-withdrawal-order",
                    "\/v1\/customer\/action\/create-cease-order",
                    "\/v1\/customer\/action\/create-add-order",
                    "\/v1\/customer\/action\/create-status-order"
                ]
            }
        }

## /v1/customer/action/create-add-order

### POST
Vytvoření objednávky pro přidání služby k existujícímu zákazníkovi.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 1
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderId": 3
            }
        }

## /v1/customer/action/create-discount

### POST
Vytvoření slevy u existujícího zákazníka bez slevy.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 3
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "created",
                "activityId": 62
            },
            "result": {
        
            }
        }

## /v1/customer/action/create-discount?polling

### POST
Vytvoření slevy u existujícího zákazníka bez slevy - probíhající polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 62
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "failed",
                "activityId": 62
            },
            "errors": {
                "message": "Customer id '3' already has discount.",
                "code": "ALREADY_HAS_DISCOUNT"
            }
        }

## /v1/customer/action/create-discount?success

### POST
Vytvoření slevy u existujícího zákazníka bez slevy - úspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 62
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "failed",
                "activityId": 62
            },
            "errors": {
                "message": "Customer id '3' already has discount.",
                "code": "ALREADY_HAS_DISCOUNT"
            }
        }

## /v1/customer/action/create-discount?errors

### POST
Vytvoření slevy u existujícího zákazníka bez slevy - neúspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 62
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "failed",
                "activityId": 62
            },
            "errors": {
                "message": "Popis chyby."
            }
        }

## /v1/customer/action/delete-discount

### POST
Zrušení slev u existujícího zákazníka bez slevy.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 7
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "created",
                "activityId": 147
            },
            "result": {
        
            }
        }

## /v1/customer/action/delete-discount?polling

### POST
Zrušení slev u existujícího zákazníka bez slevy - probíhající polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 147
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": false,
                "status": "polling",
                "activityId": 147
            },
            "result": {
        
            }
        }

## /v1/customer/action/delete-discount?success

### POST
Zrušení slev u existujícího zákazníka bez slevy - úspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 147
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "done",
                "activityId": 147
            },
            "result": {
        
            }
        }

## /v1/customer/action/delete-discount?errors

### POST
Zrušení slev u existujícího zákazníka bez slevy - neúspěšný polling.

+ Request (application/json)

        {
            "token": "abcd1234",
            "activityId": 147
        }

+ Response 200 (application/json)

        {
            "callStatus": {
                "finished": true,
                "status": "failed",
                "activityId": 147
            },
            "errors": {
                "message": "Popis chyby."
            }
        }

## /v1/customer/action/create-termination-order

### POST
Vytvoření objednávky pro ukončení zákazníka.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 5,
            "reason": "death",
            "date": "2014-09-04"
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderId": 10
            }
        }

## /v1/customer/action/create-withdrawal-order

### POST
Vytvoření objednávky pro odstoupení zákazníka.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 6,
            "msisdnList": [
                "614731608",
                "704514528"
            ],
            "date": "2014-09-04"
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderId": 12
            }
        }

## /v1/customer/action/create-cease-order

### POST
Vytvoření objednávky pro výpověď zákazníka.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 2,
            "msisdnList": [
                "774038036"
            ],
            "date": "2014-09-04"
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderId": 5
            }
        }

# Group Service

## /v1/service/list

### POST
Seznam služeb

+ Request (application/json)

        {
            "token": "abcd1234",
            "listingRequest": {
                "orderBy": [
                    {
                        "column": "created",
                        "direction": "desc"
                    },
                    {
                        "column": "fcn",
                        "direction": "asc"
                    }
                ],
                "subset": {
                    "offset": 0,
                    "count": 3
                },
                "filter": [
                    {
                        "column": "msisdn",
                        "condition": "contains",
                        "value": "8"
                    },
                    {
                        "column": "state",
                        "condition": "equal",
                        "value": "active"
                    },
                    {
                        "column": "created",
                        "condition": "greaterOrEqual",
                        "value": "2014-08-23"
                    }
                ]
            }
        }

+ Response 200 (application/json)

        {
            "result": {
                "serviceList": [
                    {
                        "id": 29,
                        "fcn": "10009303",
                        "pcn": "29512739",
                        "msisdn": "789587476",
                        "iccid": "4075395863503217664",
                        "product": "Volám středně",
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "state": "active"
                    },
                    {
                        "id": 19,
                        "fcn": "22014809",
                        "pcn": "31876331",
                        "msisdn": "756901758",
                        "iccid": "4059331312775611904",
                        "product": "Volám středně",
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "state": "active"
                    },
                    {
                        "id": 1,
                        "fcn": "47251575",
                        "pcn": "84438804",
                        "msisdn": "649610768",
                        "iccid": "6384422458708286464",
                        "product": "Volám středně",
                        "created": "2015-05-04",
                        "modified": "2015-05-04",
                        "state": "active"
                    }
                ],
                "listingResponse": {
                    "count": 7
                }
            }
        }

## /v1/service/item/detail

### POST
Detail existující služby.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 29
        }

+ Response 200 (application/json)

        {
            "result": {
                "service": {
                    "id": 29,
                    "state": "active",
                    "adapterModified": "2015-05-04 23:59:32",
                    "product": "V2",
                    "msisdn": {
                        "msisdn": "789587476"
                    },
                    "iccid": "4075395863503217664",
                    "pcn": "29512739",
                    "ported": 0,
                    "cvop": null,
                    "master": 0,
                    "jts": 0,
                    "mkt1": 0,
                    "mkt2": 1,
                    "mkt3": 1,
                    "created": "2015-05-04",
                    "modified": "2015-05-04",
                    "termination": null,
                    "provisioningDate": null,
                    "suspendDate": null,
                    "signDate": "2015-05-04",
                    "deactivateDate": null,
                    "substateLost": "0",
                    "substateFraud": "0",
                    "substateChangeIccid": "0",
                    "substateLeguan": "0",
                    "substateSuspend": "0",
                    "substateTerminate": "0",
                    "substateRelease": "0",
                    "deposit": 0,
                    "creditCheckResult": "",
                    "hasSP": 0,
                    "hasDeposit": 0,
                    "fcn": "10009303",
                    "customerId": 15,
                    "pac": null
                },
                "activityList": [
        
                ],
                "actionList": [
                    "\/v1\/service\/action\/create-change-sim-order",
                    "\/v1\/service\/action\/create-block-order#Z",
                    "\/v1\/service\/action\/create-block-order#F",
                    "\/v1\/customer\/action\/create-cease-order",
                    "\/v1\/customer\/action\/create-withdrawal-order",
                    "\/v1\/customer\/action\/create-status-order"
                ]
            }
        }

## /v1/service/action/create-change-sim-order

### POST
Vytvoření objednávky pro změnu stávající SIM.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 23,
            "iccid": "6867696061686769606"
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderId": 38
            }
        }

## /v1/service/action/create-block-order

### POST
Vytvoření objednávky pro blokaci SIM.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 21,
            "reason": "Z"
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderId": 36
            }
        }

## /v1/service/action/create-unblock-order

### POST
Vytvoření objednávky pro odblokaci SIM.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 25,
            "reason": "Z"
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderId": 41
            }
        }

# Group User

## /v1/user/list

### POST
Seznam uživatelů.

+ Request (application/json)

        {
            "token": "abcd1234",
            "listingRequest": {
                "orderBy": [
                    {
                        "column": "username",
                        "direction": "asc"
                    }
                ],
                "subset": {
                    "offset": 0,
                    "count": 3
                },
                "filter": [
                    {
                        "column": "domain",
                        "condition": "equal",
                        "value": "mvno"
                    }
                ]
            }
        }

+ Response 200 (application/json)

        {
            "result": {
                "userList": [
                    {
                        "id": 7,
                        "username": "Automaton No.2",
                        "firstName": "Dogro",
                        "lastName": "Yyjewyyt",
                        "domain": "mvno",
                        "roles": "order_data_input",
                        "deleted": 0
                    },
                    {
                        "id": 3,
                        "username": "order_data_input",
                        "firstName": "Cyril",
                        "lastName": "Duda",
                        "domain": "mvno",
                        "roles": "order_data_input",
                        "deleted": 0
                    },
                    {
                        "id": 4,
                        "username": "order_print",
                        "firstName": "Eva",
                        "lastName": "Fabiánová",
                        "domain": "mvno",
                        "roles": "order_print",
                        "deleted": 0
                    }
                ],
                "listingResponse": {
                    "count": 5
                }
            }
        }

## /v1/user/item/create

### POST
Založení uživatele.

+ Request (application/json)

        {
            "token": "abcd1234",
            "user": {
                "username": "Automaton No.1",
                "password": "passwd",
                "firstName": "Dogro",
                "lastName": "Yyjewyyt",
                "domain": "mvno",
                "roles": [
                    "peer_user_admin",
                    "order_data_input"
                ],
                "deleted": false
            }
        }

+ Response 200 (application/json)

        {
            "result": {
                "userId": 7
            }
        }

## /v1/user/item/detail

### POST
Detail uživatele.

+ Request (application/json)

        {
            "token": "abcd1234",
            "id": 7
        }

+ Response 200 (application/json)

        {
            "result": {
                "user": {
                    "id": 7,
                    "username": "Automaton No.1",
                    "roles": [
                        "order_data_input",
                        "peer_user_admin"
                    ],
                    "domain": "mvno",
                    "firstName": "Dogro",
                    "lastName": "Yyjewyyt",
                    "deleted": 0
                }
            }
        }

## /v1/user/item/edit

### POST
Editace uživatele.

+ Request (application/json)

        {
            "token": "abcd1234",
            "user": {
                "id": 7,
                "username": "Automaton No.2",
                "password": "passwd",
                "firstName": "Dogro",
                "lastName": "Yyjewyyt",
                "domain": "mvno",
                "roles": [
                    "order_data_input"
                ],
                "deleted": false
            }
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

# Group Auth

## /v1/auth/user/login

### POST
Přihlášení uživatele.

+ Request (application/json)

        {
            "username": "order_print",
            "password": "aaaa"
        }

+ Response 200 (application/json)

        {
            "result": {
                "token": "662bd310f40e79238e7a01480635780c88f57985",
                "user": {
                    "id": 4,
                    "username": "order_print",
                    "firstName": "Eva",
                    "lastName": "Fabiánová",
                    "domain": "mvno",
                    "roles": [
                        "order_print"
                    ]
                }
            }
        }

## /v1/auth/user/login?errors

### POST
Přihlášení uživatele - neúspěch.

+ Request (application/json)

        {
            "username": "order_print",
            "password": "bbbb"
        }

+ Response 200 (application/json)

        {
            "errors": {
                "message": "Heslo je neplatné.",
                "code": "INVALID_CREDENTIAL",
                "details": " (1430776342.2902)"
            }
        }

## /v1/auth/user/logout

### POST
Odhlášení uživatele.

+ Request (application/json)

        {
            "token": "c2ae3485bb7ccd7966d33884703190d4cdcaff46"
        }

+ Response 200 (application/json)

        {
            "result": {
        
            }
        }

# Group Codebook

## /v1/tariff/list

### POST
Seznam tarifů.

+ Request (application/json)

        {
            "token": "abcd1234"
        }

+ Response 200 (application/json)

        {
            "result": {
                "tariffList": [
                    {
                        "id": "V1",
                        "name": "Volám málo",
                        "data": "Málo DAT",
                        "deleted": false
                    },
                    {
                        "id": "V2",
                        "name": "Volám středně",
                        "data": "Málo DAT",
                        "deleted": false
                    },
                    {
                        "id": "V3",
                        "name": "Volám hodně",
                        "data": "Volám hodně",
                        "deleted": false
                    }
                ]
            }
        }

## /v1/order-type/list

### POST
Seznam typů objednávek.

+ Request (application/json)

        {
            "token": "abcd1234"
        }

+ Response 200 (application/json)

        {
            "result": {
                "orderTypeList": [
                    {
                        "id": "ADD",
                        "name": "Dodatková"
                    },
                    {
                        "id": "BLOCK",
                        "name": "Blokace"
                    },
                    {
                        "id": "CEASE",
                        "name": "Výpověď"
                    },
                    {
                        "id": "CHANGE_SIM",
                        "name": "Změna SIM"
                    },
                    {
                        "id": "NEW",
                        "name": "Nová"
                    },
                    {
                        "id": "STATUS",
                        "name": "Aktualizace"
                    },
                    {
                        "id": "TERMINATION",
                        "name": "Ukončení"
                    },
                    {
                        "id": "UNBLOCK",
                        "name": "Odblokace"
                    },
                    {
                        "id": "WITHDRAWAL",
                        "name": "Odstoupení"
                    }
                ]
            }
        }

## /v1/codebook/document-type

### POST
Seznam typů dokumentů.

+ Request (application/json)

        {
            "token": "abcd1234"
        }

+ Response 200 (application/json)

        {
            "result": {
                "all": [
                    {
                        "documentType": 1,
                        "documentName": "Řidičský průkaz"
                    },
                    {
                        "documentType": 2,
                        "documentName": "Zelená karta"
                    },
                    {
                        "documentType": 3,
                        "documentName": "Pas \/ ID (Obyvatelé EU)"
                    },
                    {
                        "documentType": 4,
                        "documentName": "Občanský průkaz"
                    },
                    {
                        "documentType": 6,
                        "documentName": "ZTP\/P"
                    },
                    {
                        "documentType": 7,
                        "documentName": "Diplomatický průkaz"
                    },
                    {
                        "documentType": 8,
                        "documentName": "Platební karta"
                    },
                    {
                        "documentType": 9,
                        "documentName": "Zbrojní pas"
                    },
                    {
                        "documentType": 10,
                        "documentName": "Vojenská knížka"
                    },
                    {
                        "documentType": 11,
                        "documentName": "Služební průkaz"
                    },
                    {
                        "documentType": 12,
                        "documentName": "Dlouhodobé vízum"
                    },
                    {
                        "documentType": 13,
                        "documentName": "Rodný list"
                    },
                    {
                        "documentType": 14,
                        "documentName": "Pas ČR (fialový)"
                    },
                    {
                        "documentType": 15,
                        "documentName": "Pas ČR (zelený)"
                    },
                    {
                        "documentType": 16,
                        "documentName": "Pas – cizinec"
                    },
                    {
                        "documentType": 18,
                        "documentName": "Povolení k trvalému pobytu"
                    },
                    {
                        "documentType": 19,
                        "documentName": "Potvrzení o přechodném pobytu"
                    },
                    {
                        "documentType": 20,
                        "documentName": "Průkaz pojištěnce"
                    },
                    {
                        "documentType": 21,
                        "documentName": "Náhradní doklad"
                    }
                ],
                "first": [
                    {
                        "nationality": "AD",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AE",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AF",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AG",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AI",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AL",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AM",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AN",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AO",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AQ",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AR",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AS",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AT",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AU",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AW",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "AZ",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BA",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BB",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BD",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BE",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BF",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BG",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BH",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BI",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BJ",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BL",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BM",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BN",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BO",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BR",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BS",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BT",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BV",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BW",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BY",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "BZ",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CA",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CC",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CD",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CF",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CG",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CI",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CK",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CL",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CM",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CN",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CO",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CR",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CU",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CV",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CX",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CY",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "CZ",
                        "documentTypeList": [
                            4,
                            14,
                            15,
                            16,
                            21
                        ]
                    },
                    {
                        "nationality": "DE",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "DJ",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "DK",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "DM",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "DO",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "DZ",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "EC",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "EE",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "EG",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "EH",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "EM",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "ER",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "ES",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "ET",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "FI",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "FJ",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "FK",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "FM",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "FO",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "FR",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "FX",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "GA",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "GB",
                        "documentTypeList": [
                            16
                        ]
                    },
                    {
                        "nationality": "GD",
[...]
